<select id = "delivery" disabled = {{disabled}}>
    <option value =""> All </option>
    {{#each options as |option|}}
    {{#if (eq option.attributes.managerName global)}}
    <option value = {{option.id}}> {{option.id}} </option>
    {{/if}}
    {{/each}}
</select>
{{yield}}