<div id="session">
{{yield paginatedItems}}
  </div>

<div class="text-center">
  <div class="btn-group" role="group">
    {{#if showPrevious}}
      <button class="btn btn-primary" {{action "previousClicked"}}>{{previousText}}</button>
    {{/if}}
    {{#if showNext}}
      <button class="btn btn-primary" {{action "nextClicked"}}>{{nextText}}</button>
      
    {{/if}}
    <a href="#session" id="top"></a>
  </div>

  <br><br>

  {{#if allowedToNextPage}}
     
  {{else}}
    <div class="alert alert-danger">
      <strong>Hey there!</strong> Please complete all questions before proceeding to next page.
    </div>
  {{/if}}

  <br>

  <div class="text-center">
    Page {{currentPage}} of {{numberOfPages}}
    <br>
  </div>

  

</div>