<br>
<br>
<br>
<h2> Global Head: </h2>
{{#global-select options = globalheads onchange = (action "selectGlobal")}}
{{/global-select}}
{{ember-cli-spinner id = "global-spinner" type = "folding-cube" height = "60px" width = "60px" color = "blue"}}
<h2> Delivery Head: </h2>
{{#delivery-select disabled = dropdownDisabled global = globalSelected options = deliveryleads onchange = (action "selectDelivery")}}
{{/delivery-select}}
{{ember-cli-spinner id = "delivery-spinner" type = "folding-cube" height = "60px" width = "60px" color = "green"}}

{{#if flag}}

{{ember-chart type='bar' data = barDataUpdated options = barOptions}}
{{else}}
{{ember-chart type='bar' data = barData options = barOptions}}
{{/if}}

{{!--
{{#each-in graphh as |key value|}}
{{value}}
    {{#each-in value as |k v|}}
        {{v}}
            {{#each-in v as |d data|}}
            {{data}}
            {{/each-in}}
    {{/each-in}}
{{/each-in}}--}}