<div class="jumbotron">
  <div class="container">
    <h1>Import</h1>
    <p>Use the 'Choose File' button to upload the .csv file.</p>
    {{file-upload url= "http://10.23.209.149:9012/upload" success=(action "uploadSuccess") error=(action "uploadError")}}

    {{#if errorMessage }}
      <div class="alert alert-danger" role="alert">
        <strong>Error message:</strong> {{errorMessage}}
      </div>
    {{/if}}

    {{#if successMessage }}
      <div class="alert alert-success" role="alert">
        <strong>Import successful:</strong> {{#link-to 'reports'}}Click here to view report{{/link-to}}
      </div>
    {{/if}}
    

  </div>
</div>