<div class="ui menu">
  <div class="header item">
    Our Company
  </div>
  <a class="item">
    About Us
  </a>
  <a class="item">
   Jobs
  </a>
  <a class="item">
    Locations
  </a>
</div>

<div class="ui two column centered grid">
  <div class="column">
    <div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Survey</div>
      <div class="description">
        Please click here to go Survey
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Report</div>
      <div class="description">
        Please click here to go to Reports
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Trending</div>
      <div class="description">
        Please click here to go to Trending
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="four column centered row">
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
