<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}AgileApp{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'imports' tagName="li"}}<a href="">Import</a>{{/link-to}}
            {{#link-to 'reports' tagName="li"}}<a href="">Report</a>{{/link-to}}
            {{#link-to 'questions' tagName="li"}}<a href="">Questions</a>{{/link-to}}
            {{#link-to 'graph' tagName="li"}}<a href="">Graph</a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>