<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h1>Questionnaire</h1>
    <p>Team's Questionnaire</p>
  </div>

  

  <div class="page-header">
    <h1>Team Information</h1>
  </div>

<div class="dropdown">
  <label>Delivery Lead</label>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{#if deliveryLeadSelected}}
      {{deliveryLeadName}}
    {{else}}
      Delivery Lead
    {{/if}}
    <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {{#each model.managers as |manager|}}
    <li><a {{action 'saveManager' manager.name}}>{{manager.name}}</a></li>
    {{/each}}
  </ul>
</div>

<br>

<div class="dropdown">
  <label>Team Name</label>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{#if teamNameSelected}}
      {{teamName}}
    {{else}}
      Team Name
    {{/if}}
    <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    {{#each model.teams as |team|}}
    <li><a {{action 'saveTeam' team.name}}>{{team.name}}</a></li>
    {{/each}}
    <li role="separator" class="divider"></li>
    <li><a {{action 'newTeamName'}}>Team Name not found</a></li>
  </ul>
</div>

<br>

{{#if customTeamNameDisabled}}
{{else}}
  <form class="form-inline">
  <div class="form-group">
    <label>New Team Name</label>
    {{input value=teamName class="form-control" placeholder="New Team Name."}}
  </div>
  </form>  
{{/if}}




  <div class="page-header">
    <h1>Questions</h1>
  </div>

  {{#list-pagination currentArr=ansArray paginationDLName=deliveryLeadName paginationTeamName=teamName currentMissingQnsArray=missingQnsArray allowedToNextPage=isAllowedToNextPage paginateBy=5 items=model.questions as |questionArr|}}
  
  {{#each questionArr as |question|}}
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{question.questionID}}</h4>
        </div>
        <div class="panel-body">
          <p>Question: {{question.description}}</p>
          <p>Category: {{question.category}}</p>
          <p>{{#radio-button
              value=(concat question.questionID ' 2G')
              groupValue=question.ans
              required=true
              changed="ansToggled"}}
              {{question.two}}
            {{/radio-button}}
          </p>
          <p>  
            {{#radio-button
              value=(concat question.questionID ' 3G')
              groupValue=question.ans
              required=true
              changed="ansToggled"}}
              {{question.three}}
            {{/radio-button}}
          </p>  
          <p> 
            {{#radio-button
              value=(concat question.questionID ' 4G')
              groupValue=question.ans
              required=true
              changed="ansToggled"}}
              {{question.four}}
            {{/radio-button}}
          </p>
          <p>  
            {{#radio-button
              value=(concat question.questionID ' N/A')
              groupValue=question.ans
              required=true
              changed="ansToggled"}}
              {{question.nil}}
            {{/radio-button}}
          </p> 
        </div>
      </div>
  </div> 
  {{else}}
    No questions available.
  {{/each}}  


  {{/list-pagination}}
  
  <br>


  {{#if submitIsDisabled}}

  {{else}}
    <button class="btn btn-success btn-lg btn-block" {{action 'saveResponse'}}>Submit</button>
  {{/if}}

  <br>
  
  {{!--<button class="btn btn-default btn-lg btn-block" {{action 'performValidation'}}>PerformValidation</button>--}}

</div>