
<div class="jumbotron">
  <div class="container">
    <h1>Reporting Dashboard</h1>
    <p>Stacked bar graph.</p>
  </div>
</div>


  {{!--{{file-upload url="http://localhost:8080/upload" success=(action "uploadSuccess")}}
  {{#each model.status as |message|}}
    {{message}}
  {{/each}}--}}
  {{ember-chart type='bar' data=barData options=barOptions}}